//div className="form-workout">
//<label className="form-workout--label-wrapper">
//                                              How would you like to name this workout?
//<input type="text" className="form-workout--workout-name" onChange={this.handleWorkoutName}/>
//</label>
//
//<label className="form-workout--label-wrapper">
//                                              How many sets are you up to?
//<input type="text" className="form--workout-sets" onChange={this.handleSetsChange}/>
//</label>
//<button>Add this exercise</button>
//</div>

.form-workout {
  margin-top: 4rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--label-wrapper {
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: center;
    text-align: center;
  }

  &--workout-sets,
  &--exercise-name{
    margin: 0 auto;
    text-align: center;
    height: 3rem;
    color: $color-white;
    font-size: $default-font-size;
    height: 5rem;
    width: 100%;
    display: inline-block;
    padding: 1rem 2rem;
    background: transparent;
    border: none;
    border-bottom: 2px solid $color-white;
    transition: all .2s;
    color: $color-white;

    &:focus {
      outline: none;
    }
  }

  &--workout-sets {
    width: 30%;
  }
}