.toolbar {
  width: 100vw;
  background: $color-dark-grey-2;
  position: fixed;
  height: 15vh;
  top: 0;
  left: 0;
  font-size: $default-font-size;
  display: flex;
  z-index: 3;


  &__logo {
    width: 200px;
    height: 80px;
    background-image: url("../img/logo.png");
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  & .divider {
    flex: 1;
  }

  &__navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    width: 100%;


    &__items {
      ul {
        list-style: none;
        display: flex;
      }

      li {
        width: 150px;
        text-align: center;
        transition: all .3s;

        &:hover {
          transform: translateY(-4px);
        }

        &:active {
          transform: translateY(-2px);
        }
      }


      a {
        color: $color-light-grey-2;
        transition: all .3s;

        &:hover {
          color: $color-primary;
          letter-spacing: 2px;
          font-weight: bold;
        }
      }

      i {
        margin-top: 5px;
        font-size: 40px;
        display: block;
      }
    }
  }
}

@media (max-width: 850px ) {
  .divider {
    display: none;
  }

  .toolbar__navigation {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .toolbar__navigation__items {
    display: none;
  }
}